POSTGRES_PASSWORD=password
POSTGRES_USER=postgres
POSTGRES_DB=clowe-app
POSTGRES_HOST=clowe-drf-db
APPLE_APP_AUDIENCE=changeme
GITHUB_APP_CLIENT_ID=changeme
GITHUB_APP_INSTALLATION_ID=changeme
GITHUB_REPO_OWNER=changeme
GITHUB_REPO=changeme
